/* Reset margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    background-color: #050505;
  }
  
  /* Set box-sizing to border-box for all elements */
  * {
    box-sizing: border-box;
  }
  /* Navbar styles */
  .navbar {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  .container-navbar {
    width: 80%;
    margin: auto;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
    width: 250px;
  }
  
  .logo a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 10px;
  }
  
  .nav-links li {
    display: inline;
    margin: 20px;
    padding: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  /* Form box styles */
  .form-box {
    width: 35%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ffffff;
  
  }
  
  /* Checkout container */
  .payment-container {
    display: flex;
    margin: 10px;
  }
  
  /* Product details */
    .name-price{
      background-color: #ffffff;
      display: inline-block;
      margin: 10px ;
      padding: 20px;
      margin: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
      color: #000000;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      width: 200px; /* Set a fixed width */
      height: 150px; /* Set a fixed height */
    }
    .name-price:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
    .name-price input[type="number"] {
      width: 45px; 
      padding: 8px; 
      font-size: 14px;
      margin-left: 20px;
  }
  
  .product-image {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin:auto;
  }
  
  
  /* Cart summary */
  .cart-summary {
    max-width: 50%;
    background: #9e9e9e;
    padding: 40px;
    margin-bottom: 20px;
    margin: auto;
    border-radius: 20px;
  }
  
  /* Checkout form container */
  .payment-form {
    width: 40%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .payment-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    width: 30%;   
    text-align: right; 
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="email"], 
  select {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
  
    box-sizing: border-box;
    font-size: 16px;
  
  }
  
  select {
    cursor: pointer;
  }
  
  .submit-btn {
    width: 60%;
    padding: 12px;
    background-color: #050505;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px auto; /* Set margin to 'auto' to center horizontally */
    display: block; /* Ensures block-level behavior for centering */
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  